<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <p class="campl-page-title">
          TODO: PASS/SET TITLE
        </p>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <div class="campl-local-navigation-container">
      <ul class="campl-unstyled-list">
        <projectlight-ng-nav></projectlight-ng-nav>
      </ul>
    </div>
  </div>
</div>
