<h2>Your mentors</h2>
<div *ngIf="(currentUser$ | async)?.mentorship_preferences.is_seeking_mentor then isAvailable else notAvailable"></div>
<ng-template #isAvailable>
  You <strong style="cursor: pointer" matTooltip="Click to toggle" (click)="toggleAvailableStatus()">are</strong>
  seeking a mentor, and have specified
  the
  following special
  requirements for your mentor:

  <blockquote rel="tooltip" data-tooltip-text="Click to edit">
    <men-mentor-preferences
      preferences-default="e.g. I would like someone who has been at the department for a while, or I would like someone who would be happy to read through job applications, etc.">
    </men-mentor-preferences>
  </blockquote>
</ng-template>
<ng-template #notAvailable>
  You <strong style="cursor: pointer" matTooltip="Click to toggle" (click)="toggleAvailableStatus()">are not</strong>
  seeking a mentor
</ng-template>


<div *ngIf="(relationships | async)?.length > 0 then hasMentorsBlock else withoutMentorsBlock"></div>
<ng-template #hasMentorsBlock>
  <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
    <thead>
      <tr>
        <th><span class="campl-table-heading">CRSid</span>CRSid</th>
        <th><span class="campl-table-heading">Name (meetings)</span>Name (meetings)</th>
        <th><span class="campl-table-heading">Division</span>Division</th>
        <th><span class="campl-table-heading">Research group</span>Research group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rel of relationships | async">
        <td>{{ rel.mentor.username }}</td>
        <td>{{ rel.mentor.first_name }} {{ rel.mentor.last_name }}</td>
        <td>{{ rel.mentorDiv() }} </td>
        <td>{{ rel.mentor.cued_member.research_group.name }}</td>
        <td><a [routerLink]="" (click)="openEndDialog($event, rel)" class="campl-btn campl-primary-red">End</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #withoutMentorsBlock>
  <p>You do not currently have any mentors</p>
</ng-template>

<!-- TODO perhaps place in a parent eleemnt eg:
  mentor-preferences
  mentors-list
  mentor-invites
-->

<div *ngIf="(currentUser$ | async)?.mentorship_preferences.is_seeking_mentor then canRequest"></div>
<ng-template #canRequest>
  <a [routerLink]="" class="campl-primary-cta" (click)="openInviteDialog($event)">Invite someone to be your mentor</a>
</ng-template>
<br />

<div *ngIf="(invitationsFromMentee$ | async)?.length > 0 then messagesSent else noMessagesSent"></div>
<ng-template #messagesSent>
  <br />You have sent {{(invitationsFromMentee$ | async)?.length}} requests
</ng-template>
<ng-template #noMessagesSent>
  <br />You have no invitations awaiting response
</ng-template>

<div *ngIf="(invitationsToMentee$ | async)?.length > 0 then messagesReceived else noMessagesReceived"></div>
<ng-template #messagesReceived>
  <br />You have <a [routerLink]="" (click)="openActionMenteeInviteDialog($event)"
    class="campl-btn campl-primary-cta">{{(invitationsToMentee$ | async)?.length}}</a> invitations to be a Mentee
</ng-template>
<ng-template #noMessagesReceived>
  <br />You have 0 invitation to be a Mentee
</ng-template>
