<h1>Match {{data.seeker.user.name()}} with a Mentor</h1>

{{ data.seeker.user.first_name }}'s requirements: <strong>{{ data.seeker.user.mentor_requirements }}</strong>

<br />
<br />

<men-action-invites [seeker]="data.seeker" (left_to_resolve)="onResolve($event)" [hidden]="to_resolve==0">
</men-action-invites>

<div *ngIf="to_resolve==0 then displayAvailable"></div>
<ng-template #displayAvailable>
  <div [hidden]="selectedMentor">Select a mentor ({{ (available_mentors$ | async).length }}) to pair with</div>
  <h2 [hidden]="!selectedMentor">Create a relationship with</h2>
  <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
    <tbody>
      <tr *ngFor="let seeker of available_mentors$ | async" (click)="selectMentor(seeker)"
        [hidden]="selectedMentor && selectedMentor.user.id != seeker.user.id">
        <td>{{seeker.user.first_name}}</td>
        <td>{{seeker.user.last_name}}</td>
        <td>{{seeker.user.group_div()}}</td>
        <td><span *ngFor='let line of seeker.mentee_requirements.split("\n")'>
            {{line}}<br />
          </span></td>
      </tr>
    </tbody>
  </table>
  <div [hidden]="!selectedMentor">
    <a [routerLink]="" class="campl-btn campl-primary-red" (click)="cancelSelection()">Choose again</a>
    <a [routerLink]="" class="campl-btn campl-primary-ctl" (click)="addMentor(selectedMentor)">Create</a>
  </div>
</ng-template>
