<div class="campl-row campl-content">
  <div class="campl-wrap clearfix">
    <div class="campl-content-container">

      <!-- todo place this in its own component?? -->
      <div
        *ngIf=" (invitationsToMentee$ | async)?.length > 0 || (invitationsToMentor$ | async)?.length > 0 then hasInvites">
      </div>
      <ng-template #hasInvites>
        <article
          class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser"
          style="background: #D05252">
          <div class="campl-focus-teaser-txt">
            <div style="padding: 20px; color:white">
              <h2 style="color: white">Messages</h2>
              <div *ngIf=" (invitationsToMentee$ | async)?.length > 0 then menteeInvites"></div>
              <ng-template #menteeInvites>
                You have an invitation to be a mentee from:
                <ul>
                  <li *ngFor="let invite of invitationsToMentee$ | async">
                    {{ invite.mentor.name() }} (created on: {{ invite.created_on }})
                  </li>
                </ul>
              </ng-template>
              <div *ngIf=" (invitationsToMentor$ | async)?.length > 0 then mentorRequests"></div>
              <ng-template #mentorRequests>
                You have a request to be a mentor from:
                <ul>
                  <li *ngFor="let invite of invitationsToMentor$ | async">
                    {{ invite.mentee.name() }} (created on: {{ invite.created_on }})
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </article>
      </ng-template>
      <!-- end of invites/messages conponent? -->


      <!--start col left-->
      <div class="campl-column5 ng-binding">

        <men-mentorslist></men-mentorslist>
      </div>
      <!--end column left-->

      <div class="campl-column2">&nbsp;</div>
      <!--spacer!-->

      <!--start col right-->
      <div class="campl-column5 ng-binding">
        <men-menteeslist></men-menteeslist>
      </div>
      <!--end col right-->

      <div class="campl-column12">
        <men-messages></men-messages>
      </div>

    </div>
  </div>
