<h2>Your mentees</h2>
<div *ngIf="(currentUser$ | async)?.mentorship_preferences.is_seeking_mentee then isAvailable else notAvailable"></div>
<ng-template #isAvailable>
  You <strong style="cursor: pointer" matTooltip="Click to toggle" (click)="toggleAvailableStatus()">are</strong>
  seeking a mentee, and have specified
  the
  following special
  requirements for your mentee:

  <blockquote rel="tooltip" data-tooltip-text="Click to edit">
    <men-mentee-preferences
      preferences-default="e.g. I would like someone who has been at the department for a while, or I would like someone who would be happy to read through job applications, etc.">
    </men-mentee-preferences>
  </blockquote>
</ng-template>
<ng-template #notAvailable>
  You <strong style="cursor: pointer" matTooltip="Click to toggle" (click)="toggleAvailableStatus()">are not</strong>
  seeking a mentee
</ng-template>


<div *ngIf="(relationships$ | async)?.length > 0 then hasMenteesBlock else withoutMenteesBlock"></div>
<ng-template #hasMenteesBlock>
  <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
    <thead>
      <tr>
        <th><span class="campl-table-heading">CRSid</span>CRSid</th>
        <th><span class="campl-table-heading">Name (meetings)</span>Name (meetings)</th>
        <th><span class="campl-table-heading">Division</span>Division</th>
        <th><span class="campl-table-heading">Research group</span>Research group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rel of relationships$ | async">
        <td>{{ rel.mentee.username }}</td>
        <td>{{ rel.mentee.first_name }} {{ rel.mentee.last_name }}</td>
        <td>{{ rel.menteeDiv() }} </td>
        <td>{{ rel.mentee.cued_member.research_group.name }}</td>
        <td><a [routerLink]="" (click)="openEndDialog($event, rel)" class="campl-btn campl-primary-red">End</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #withoutMenteesBlock>
  <p>You do not currently have any mentees</p>
</ng-template>

<!-- TODO perhaps place in a parent eleemnt eg:
  mentee-preferences
  mentees-list
  mentee-invites
-->

<div *ngIf="(currentUser$ | async)?.mentorship_preferences.is_seeking_mentee then canRequest"></div>
<ng-template #canRequest>
  <a [routerLink]="" class="campl-primary-cta" (click)="openInviteDialog($event)">Invite someone to be your mentee</a>
</ng-template>
<br />

<div *ngIf="(invitationsFromMentor$ | async)?.length > 0 then messagesSent else noMessagesSent"></div>
<ng-template #messagesSent>
  <br />You have sent {{(invitationsFromMentor$ | async)?.length}} requests
</ng-template>
<ng-template #noMessagesSent>
  <br />You have no invitations awaiting response
</ng-template>

<div *ngIf="(invitationsToMentor$ | async)?.length > 0 then messagesReceived else noMessagesReceived"></div>
<ng-template #messagesReceived>
  <br />You have <a [routerLink]="" (click)="openActionMentorInviteDialog($event)"
    class="campl-btn campl-primary-cta">{{(invitationsToMentor$ | async)?.length}}</a> invitations to be a Mentor
</ng-template>
<ng-template #noMessagesReceived>
  <br />You have 0 invitations to be a Mentor
</ng-template>
